<section id="addDeveloper" class="container">
  <div class="form-wrap">
    <h1>Add Profile</h1>
    <p>Your contact email will be shared with registered users to get an email from companies.</p>
    {{#each errors}}
    <div class="error">
      <p>{{text}}</p>
    </div>
    {{/each}}
    <form action="/developers/add" method="POST">
      <div class="input-group">
        <label for="title">Job Title</label>
        <input type="text" name="title" id="title" class="input-box"
          placeholder="eg. Small Wordpress website, React developer" maxlength="100" value={{title}}>
      </div>
      <div class="input-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" class="input-box" placeholder="First Name" maxlength="100"
          value={{first_name}}>
      </div>
      <div class="input-group">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" class="input-box" placeholder="Last Name" maxlength="100"
          value={{last_name}}>
      </div>
      <div class="input-group">
        <label for="skills">Skills </label>
        <input type="text" name="skills" id="skills" class="input-box" placeholder="eg. javascript, react, PHP"
          maxlength="100" value={{skills}}>
      </div>
      <div class="input-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" class="input-box" placeholder="Describe the details of the job"
          rows="10">{{description}}</textarea>
      </div>
      <div class="input-group">
        <label for="budget">Contact Email</label>
        <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email"
          value={{contact_email}}>
      </div>
      <input type="submit" value="Add Profile" class="btn btn-reverse">
    </form>
  </div>
</section>