<section id="gigs" class="container">
  <h1>All Developers</h1>

  {{#each developers}}
  <div class="gig">
    <h3> {{title}}</h3>
    <p> {{first_name}} {{last_name}}</p>
    <ul>
      <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Email Now</a></li>
    </ul>
    <div class="tech">
      <small>Skills: <span>{{skills}}</span></small>
    </div>
    <p> {{description}}</p>
  </div>
  {{else}}
  <p>No Gigs Available</p>
  {{/each}}

</section>